<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hty.demo3.mapper.SelectMapper">
<!--    User getUserById(@Param("id") Integer id);-->
    <select id="getUserById" resultType="com.hty.demo3.pojo.User">
        select * from t_user where id=#{id}
    </select>
<!--    List<User> getUserList();-->
    <select id="getUserList" resultType="com.hty.demo3.pojo.User">
        select * from t_user
    </select>

<!--    int getCount();-->
    <select id="getCount" resultType="_int">
        select count(id) from t_user
    </select>
<!--    Map<String, Object> getUserToMap(@Param("id") int id);-->
    <select id="getUserToMap" resultType="map">
        select * from t_user where id=#{id}
    </select>

<!--    List<Map<String, Object>> getAllUserToMap();-->
    <select id="getAllUserToMap" resultType="map">
        select * from t_user
    </select>

<!--    Map<String, Object> getAllUserToMap();-->
    <select id="getAllUserToMap" resultType="map">
        select * from t_user
    </select>

<!--    List<User> testMohu(@Param("mohu") String mohu);-->
    <select id="testMohu" resultType="com.hty.demo3.pojo.User">
        select * from t_user where username like "%"#{mohu}"%"
    </select>

<!--    int deleteMore(@Param("ids") String ids);-->
    <delete id="deleteMore">
        delete from t_user where id in (${ids})
    </delete>

<!--    List<User> getAllUser(@Param("tableName") String tableName);-->
    <select id="getAllUser" resultType="com.hty.demo3.pojo.User">
        select * from ${tableName}
    </select>

<!--    void insertUser(User user);-->
    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id">
        insert into t_user values (#{id},#{username},#{password},#{age},#{sex},#{email})
    </insert>

</mapper>